body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.about-container{
    padding: 50px 0 0 0 ;
}

.profile-div{
   padding-top: 40px ;
}
.imgdiv{
    padding-top: 20px ;
}

.profile{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    margin-left: 30px;
}
 span{
     font-weight: bold;
     font-size: 1.2rem;
     color: black;
 }

 .data{
     font-size: 1.3rem;
     margin-left:20px;
     margin-top: 15px;
 }

 
 .skill1{
    width: 280px;
    height: 100px;
    margin-left: 10px;
    margin-bottom: 10px;
 }

 .skill2{
     width: 300px;
     height: 100px;
 }

 .allinfo{
     padding-left: 15px;
 }
