
.parent-div{
    padding: 120px;
    text-align: center;
}

.homeTitle,.react{
    font-size: 3rem;
    font-family:  'Amita', cursive;
    font-weight: bolder;
}

.react{
    color: rgb(41, 114, 224);
}

.miniSlogan{
    font-size: 1.8rem;
    font-family:  Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-bottom: 30px;
    color: rgb(161, 159, 159);
    
}

.tools{
    padding-top: 50px;
    padding-bottom: 50px;
}

.child-div{
    padding: 20px;
    background-color: rgb(218, 70, 213);
    border-radius: 2rem;
    color: white;
}

.child-div:hover{
    color: black;
    cursor: pointer;
    background-color:rgb(216, 146, 214);
    box-shadow: 12px 12px 15px rgb(153 152 152);
}