
 .link{
    text-decoration: none;
    color:white;
}
.link:hover{
    text-decoration: none;
    color: white;
}
.btn-1 , .btn-2 {
    margin-right: 20px;
    border: none;
    width: 72px;
}

.addBtn{
    margin-bottom: 15px;
    margin-left: 15px;
}
.heading{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

.titles{
    font-size: 2.1rem;
    font-weight: bolder;
}

.formDiv{
    width: 400px;
    height: auto;
    margin: 00 auto;
    text-align: "center";
    padding: 30px;
    box-shadow: 12px 12px 15px rgb(153 152 152);
    background-color: rgb(230, 211, 229);
}

.titlebox{
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    padding: 10px;
}

.commentbox{
    margin-bottom: 20px;
    border: none;
    padding: 10px;
}